@{
    ViewData["Title"] = "Rezervace lekcí";
    Layout = "_AppLayout";
}
<div class="glass p-3">
  <h4 class="text-white mb-3">Rezervace lekcí</h4>
  <p class="text-white-50 mb-0">Tady bude přehled lekcí + formulář pro přihlášení/odhlášení.</p>
</div>
