@{
    ViewData["Title"] = "Vybavení";
    Layout = "_AppLayout";
}
<div class="glass p-3">
  <h4 class="text-white mb-3">Vybavení</h4>
  <p class="text-white-50 mb-0">Tady bude evidence strojů (kardio, posilovací, volná závaží).</p>
</div>
