@{
    Layout = "_AuthLayout";
}

<h1 class="h4 text-center mb-3 text-white">Zkontroluj e-mail</h1>

<p class="text-center text-white-50 mb-4">
    Pokud tento e-mail existuje v našem systému, poslali jsme vám nové heslo.
</p>

<div class="text-center mt-3">
    <a href="/Account/Login" class="btn btn-primary w-100">Zpět na přihlášení</a>
</div>
