@model FitnessCenter.Web.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registrace";
    Layout = "_AuthLayout";
}
<h1 class="h4 text-center mb-2 text-white">Registrace</h1>

<form action="/Account/Register" method="post" novalidate>
    @Html.AntiForgeryToken()

    <!-- ať vidíš případné server-side chyby -->
    <div asp-validation-summary="ModelOnly" class="text-danger small mb-2"></div>

    <div class="row g-2">
        <div class="col-6 mb-2">
            <input name="FirstName" class="form-control form-control-lg" placeholder="Jméno" />
        </div>
        <div class="col-6 mb-2">
            <input name="LastName" class="form-control form-control-lg" placeholder="Příjmení" />
        </div>
    </div>

    <div class="mb-2">
        <input name="Email" class="form-control form-control-lg" placeholder="E-mail" />
    </div>

    <div class="mb-2">
        <input name="UserName" class="form-control form-control-lg" placeholder="Přihlašovací jméno" />
    </div>

    <div class="mb-2">
        <input name="Password" type="password" class="form-control form-control-lg" placeholder="Heslo" />
    </div>

    <div class="mb-2">
        <input name="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="Potvrzení hesla" />
    </div>

    <button type="submit" class="btn btn-primary btn-lg w-100 mt-2">Vytvořit účet</button>
</form>

<div class="text-center mt-3 auth-link">
    <a href="/Account/Login" class="link-light small">Už máš účet? Přihlásit</a>
</div>
