@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Panel trenéra";
    ViewBag.Active = "Trainer";
}
@await Html.PartialAsync("_BackButton")

<div class="glass p-3">
  <h4 class="text-white mb-2">Rychlé akce</h4>
  <div class="row g-3 mt-1">
    <div class="col-12 col-md-6 col-xl-3">
      <a class="text-decoration-none d-block h-100" href="@Url.Action("Create","Lessons")">
        <div class="tile glass quick-tile h-100">
          <h5 class="text-white mb-1">Vytvořit lekci</h5>
          <div class="text-white-50 small">Název, kapacita, termín, místnost.</div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 col-xl-3">
      <a class="text-decoration-none d-block h-100" href="@Url.Action("Index","Lessons")">
        <div class="tile glass quick-tile h-100">
          <h5 class="text-white mb-1">Moje lekce</h5>
          <div class="text-white-50 small">Přehled vytvořených lekcí.</div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 col-xl-3">
      <div class="tile glass quick-tile h-100">
        <h5 class="text-white mb-1">Docházka (brzy)</h5>
        <div class="text-white-50 small">Evidence účasti (plán).</div>
      </div>
    </div>
  </div>
</div>
