@{
    ViewData["Title"] = "Platby";
    Layout = "_AppLayout";
}
<div class="glass p-3">
  <h4 class="text-white mb-3">Přehled plateb</h4>
  <p class="text-white-50 mb-0">Tady bude seznam plateb a stav členství/permanentky.</p>
</div>
